<section id="hiring" class="step g-section-spacer" data-themeset="dark">
  <div class="content header-spacer">
      <h3 class="beta fade-in an-beta">Who should apply?</h3>
      <p class="sub-text fade-in an-alpha lead">Every designer starts out differently. We don’t require a specific background or experience level, but there’re a few things you should be be confident in:</p>
      <ul class="content-list sub-text">
        <li class="fade-in an-alpha">Your graphic and visual design skills</li>
        <li class="fade-in an-beta">Your ability to communicate or sell your process and ideas</li>
        <li class="fade-in an-gamma">Your portfolio</li>
        <li class="fade-in an-delta">Your familiarity with common design tools&mdash;like Adobe CS, Sketch, Invision, and Figma.</li>
      </ul>
  </div>
  
  <div class="blocks">
    <div class="block">
      <h3 class="fade-in an-alpha">Responsibilities</h3>
      <ul class="content-list sub-text fade-in an-beta lead">
        <li>Join design team critiques</li>
        <li>Sit in on client standups and discussions</li>
        <li>Identify and research problems</li>
        <li>Explore, build, and test concepts</li>
        <li>Present your ideas, get feedback, and iterate</li>
        <li>Take an internal project from concept to completion</li>
      </ul>
    </div>
    <div class="block">
      <h3 class="fade-in an-alpha">Availability</h3>
      <p class="sub-text fade-in an-beta">March 4&ndash;May 17, 2019</p>
      <p class="sub-text fade-in an-beta">Weekly schedules will vary. We know you’ve got other obligations (school, other jobs), so we’ll figure out what works best.</p>
      <p class="sub-text fade-in an-beta">We’re only accepting internship applications for our Providence office right now.</p>
      <a href="https://goo.gl/forms/juPsnF79a0hsUJp83" class="button content-button" >Intern with us</button>
    </div>
  </div>
</section>
