<img src="img/triangle-huge@2x.png" class="triangle" />
<section id="intro" class="step g-section-spacer" data-themeset="dark">
  <div class="content">
    <p class="lead fade-in">Product design is a trade that’s hard to describe. It’s made up of a whole spectrum of disciplines, from qualitative research and product strategy, to visual design and front-end development. Nobody excels at all, or even most, of these, so it’s also a craft that requires collaboration, curiosity, and a ceaseless desire to&nbsp;learn.</p>
    <p class="lead fade-in">As a Design Intern, that’s exactly what you’re here to do: learn. And not passively. We’re a small team, so you’ll be working with one-on-one with us through the day-to-day of client projects. You’ll help us make decisions, refine our work, and understand the impact and consequences of what we’re building. You’ll also be building your own projects&mdash;taking what you’re learning on a daily basis and applying it in a meaningful&nbsp;way.</p>
    <p class="lead fade-in">You’ll be paid, too. This isn’t ‘exposure’ stuff&mdash;the work you’ll do is valuable, and you’ll be compensated&nbsp;accordingly.</p>
  </div>
</section>


