<section id="resources" class="step g-section-spacer" data-themeset="light">
  <h2 class="header-spacer fade-in">What we're learning from</h2>
  <div class="resource-blocks">
    <a href="http://atomicdesign.bradfrost.com/" class="resource-block fade-in an-alpha">
      <div class="resource-img">
        <img src="img/resources/book-atomic.png" />
      </div>
      <div class="resource-desc">
        <span class="sub-text">Atomic Design</span>
        <p>Written by Brad Frost, it's a pretty comprehensive dive into design systems: what they are, how they work, and how to build and maintain them. It's one of best things we've read for learning how to cultivate a more systems-aware mindset.</p>
      </div>
    </a>

    <a href="http://www.mistakes.show/" class="resource-block fade-in an-beta">
      <div class="resource-img">
        <img src="img/resources/podcast-mistakes.jpg" />
      </div>
      <div class="resource-desc">
        <span class="sub-text">Let's Make Mistakes</span>
        <p>By Mule, this podcast gets into the darker side of design jobs. Guests talk about their paths through their careers, the places they've messed up, and how they've fixed them and grown.</p>
      </div>
    </a>
  
    <a href="https://postlight.com/trackchanges" class="resource-block fade-in an-alpha">
      <div class="resource-img">
        <img src="img/resources/podcast-track.jpg" />
      </div>
      <div class="resource-desc">
        <span class="sub-text">Track Changes</span>
        <p>The weekly-ish podcast from Rich Ziade and Paul Ford, cofounders of the NYC product agency Postlight. Their conversations are less about design and focus instead on the culture and ethics of tech&mdash;and how to build things that are useful, sustainable, and successful.</p>
      </div>
    </a>

    <a href="https://developer.apple.com/videos/play/wwdc2017/802/" class="resource-block fade-in an-beta">
      <div class="resource-img">
        <img src="img/resources/talk-apple.jpg" />
      </div>
        <div class="resource-desc">
        <span class="sub-text">Essential Design Principles</span>
        <p>An introduction to how Apple approaches interface design: from their broadest principles down to how to handle granular UI details and interactions.</p>
      </div>
    </a>

    <a href="https://www.jeffgothelf.com/lean-ux-book/" class="resource-block fade-in an-alpha">
        <div class="resource-img">
          <img src="img/resources/book-lean.jpg" />
        </div>
        <div class="resource-desc">
          <span class="sub-text">Lean UX</span>
          <p>Short and snappy, it explores how to conduct iterative research and validation in a fast-paced development cycle.</p>
        </div>
      </a>

    <a href="https://creative.gimletmedia.com/shows/wireframe/" class="resource-block fade-in an-beta">
      <div class="resource-img">
        <img src="img/resources/podcast-wireframe.png" />
      </div>
      <div class="resource-desc">
        <span class="sub-text">Wireframe</span>
        <p>Adobe's in-house podcast dives into more esoteric corners of tech and product design, from building handicap-accessible Xbox packaging to the politics of releasing new emojis.</p>
      </div>
    </a>

    <a href="https://www.youtube.com/watch?v=IXXKqwrEql4" class="resource-block fade-in an-alpha">
        <div class="resource-img">
          <img src="img/resources/talk-monteiro.jpg" />
        </div>
        <div class="resource-desc">
          <span class="sub-text">13 Ways Designers Screw Up Client Presentations</span>
          <p>Client presentations are hard. They don't have to be. Mike Monteiro explains where designers commonly derail, and how to present work more effectively.</p>
        </div>
      </a>
  
      <a href="https://www.thesprintbook.com/" class="resource-block fade-in an-beta">
        <div class="resource-img">
          <img src="img/resources/book-sprint.jpg" />
        </div>
          <div class="resource-desc">
          <span class="sub-text">Sprint</span>
          <p>Like 'Lean UX,' 'Sprint'&mdash;developed by partners at Google Ventures for launching startups&mdash;explores how to design quickly, iteratively, and across jobs.</p>
        </div>
      </a>
  </div>
  <div class="carousel no-carousel">
    <div class="items">
      <span class="item fade-in fade-in-x an-alpha" />
    </div>
  </div>
  <div class="progress no-carousel">
    <div class="progress-bar"></div>
  </div>
</section>
