<section id="work" class="step" data-themeset="light">
  <h2 class="header-spacer fade-in an-alpha">What our interns have&nbsp;built</h2>
  <div class="shots">
    <div class="shot fade-in">
      <figure>
        <picture>
          <source data-srcset="img/guestbook@2x.webp 2x, img/guestbook.webp 1x" type="image/webp">
          <source data-srcset="img/guestbook@2x.jpg 2x, img/guestbook.jpg" type="image/jpeg">
          <img data-src="img/guestbook.jpg" alt="guestbook check in application for the iPad" class="lazyload">
        </picture>
        <figcaption>
          <div class="fade-in an-alpha">
            Guestbook
          </div>
          <div class="fade-in an-gamma">Guestbook is an iOS app that allows office visitors to notify us that they’ve arrived. We built Guestbook on React Native and integrated with Slack to send notifications to our team.</div>
        </figcaption>
      </figure>
    </div>
  </div>
</section>