<div class="client-box fade-in">
  <p class="smallcaps">We get to work with some amazing clients.</p>
  <div class="parade">
    <ul class="logos">
      <li class="logo"><img src="img/logos/UA.svg" alt="Under Armour"></li>
      <li class="logo"><img src="img/logos/UW.svg" alt="United Way"></li>
      <li class="logo"><img src="img/logos/BCBS.svg" alt="Blue Cross Blue Shield"></li>
      <li class="logo"><img src="img/logos/brown.svg" alt="Brown University"></li>
      <li class="logo"><img src="img/logos/ck.svg" alt="CreditKarma"></li>
      <li class="logo"><img src="img/logos/sendgrid.svg" alt="SendGrid"></li>
      <li class="logo"><img src="img/logos/pivotal.svg" alt="Pivotal"></li>
      <li class="logo"><img src="img/logos/aetna.svg" alt="Aetna"></li>
    </ul>
  </div>
</div>
