<div class="client-box">
  <p>We get to work with some amazing clients.</p>
  <div class="parade">
    <ul class="logos">
      <li class="logo"><img src="img/logos/UA.svg" alt=""></li>
      <li class="logo"><img src="img/logos/UW.svg" alt=""></li>
      <li class="logo"><img src="img/logos/BCBS.svg" alt=""></li>
      <li class="logo"><img src="img/logos/brown.svg" alt=""></li>
      <li class="logo"><img src="img/logos/ck.svg" alt=""></li>
      <li class="logo"><img src="img/logos/sendgrid.svg" alt=""></li>
      <li class="logo"><img src="img/logos/pivotal.svg" alt=""></li>
      <li class="logo"><img src="img/logos/aetna.svg" alt=""></li>
    </ul>
  </div>
</div>