<header class="g-content-bound">
  <ul>
    <li class="fade-in an-delta">
      <svg xmlns="http://www.w3.org/2000/svg" width="51" height="44" viewBox="0 0 51 44">
        <g fill="none" fill-rule="evenodd">
          <path fill="#FFF" d="M11 9h29v25H11z" />
          <path fill="#00BA40" d="M12.744 0h25.48l12.739 21.999-12.739 22-25.486-.01L0 21.988 12.744 0zM32.68 12.892l-7.134 5.137-7.134-5.137h-3.615v18.215h6.027v-7.775l-1.112-1.81 5.834 3.753 5.835-3.753-1.113 1.81v7.775h6.027V12.892H32.68z"
          />
        </g>
      </svg>
    </li>
    <li class="fade-in an-epsilon">
      <a href="https://mojotech.bamboohr.com/jobs/view.php?id=3" class="button" >Apply</button>
    </li>
  </ul>
</header>
