<section id="hiring" class="step g-section-spacer" data-themeset="light">
  <div class="blocks">
    <div class="block">
      <h3 class="fade-in an-alpha">Applications</h3>
      <p class="sub-text fade-in an-beta">When applying, add a short note about yourself and a link to a portfolio that showcases your digital experience. Help us learn who you are! We want to get to know you, how you work, and see the work you’re proud of.</p>
    </div>
    <div class="block">
      <h3 class="fade-in an-alpha">Interview Process</h3>
      <p class="sub-text fade-in an-beta">During interviews, we want to hear about your work as a whole: what you did, the thinking and research that went into it, and what you learned at the end. Then, tell us where you want to go. What do you want learn next? How do you want to grow?</p>
    </div>
  </div>
</section>
