<section id="hiring" class="step g-section-spacer" data-themeset="light"> 
  <div class="blocks">
    <div class="block">
      <h3>Applications</h3>
      <p class="sub-text">
        When applying, please include a short note about yourself and a link to a portfolio that showcases your digital experience.
      </p>
    </div>
    <div class="block">
      <h3>Interview Process</h3>
      <p class="sub-text">
        During interviews, candidates will be expected to articulate the ideas behind their work, design experience, and goals for
        the future.
      </p>
    </div>
  </div>
</section>
