<section id="intro" class="step g-section-spacer" data-themeset="light">
  <div class="shapes">
    <div class="circle"></div>
  </div>

  <div class="content">
    <p class="lead fade-in">Whatever your title’s been in the past, what’s important is you have experience designing thoughtful solutions for complex problems. You’re a team player who can work independently at any stage of a project. You can lead a discussion with clients and internal teams that push projects in the right direction.</p>
    <p class="lead fade-in">You should have a solid background in graphic design, a portfolio to back it up, and knowledge of what it takes to actually ship a quality product. We all have interests and skills outside of product design, though—including illustration, engineering, public speaking, and writing. Ideally you do, too. Tell us about it!</p>
    <p class="lead fade-in">We’re not machines. We work a 35-hour work week, with time left over to for internal projects or learning a new skill. You’ll only be on one project at a time, so you can hone in on the right problems and give them the attention and care they deserve. </p>
  </div>
</section>


