<section id="intro" class="step g-section-spacer" data-themeset="light">
  <div class="shapes">
    <div class="circle"></div>
  </div>

  <div class="content">
    <p class="lead fade-in">Everyone calls it something different, but what’s important is you have experience designing thoughtful solutions for complex problems.
        You’re a team player who can work independently at various stages of a project. You can lead fade-in a discussion with clients and internal teams that push
        a project in the right direction.</p>
    <p class="lead fade-in">Good candidates will have a strong background in graphic design, a portfolio to back it up, and knowledge of what it takes to actually
        ship a quality product. It’s important to have an interest in something like photography, writing, illustration or speaking.</p>
    <p class="lead fade-in">We’re not machines. All of our employees work a 35 hour work week with time left over to
        for internal projects or learning a new skill. You’ll only be on one project at a time,
        allowing you to focus and dedicate all of your energy.</p>
  </div>
</section>


