<section id="locations" class="step g-section-spacer" data-themeset="dark">
  <h2>Our locations</h2>
  <div class="blocks">
    <div class="block pvd">
      <h3>Providence, RI</h3j>
      <p class="sub-text">Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Morbi leo risus, porta
      ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum nulla sed consectetur lacinia.</p>
    </div>
    <div class="block bldr">
      <h3>Boulder, CO</h3>
      <p class="sub-text">Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Morbi leo risus, porta
      ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum nulla sed consectetur lacinia.</p>
    </div>
  </div>
  <div class="carousel">
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
  </div>
  <div class="progress">
    <div class="progress-bar"></div>
  </div>
</section>
