<section id="locations" class="step g-section-spacer" data-themeset="dark">
  <h2 class="beta fade-in">Our locations</h2>
  <div class="blocks">
    <div class="block pvd">
      <h3 class="fade-in an-alpha">Providence, RI</h3>
      <p class="sub-text fade-in an-beta">With an award-winning <a href="https://www.eater.com/maps/best-new-restaurants-providence-heatmap">restaurant
          scene</a>, eclectic arts <a href="https://foofest.as220.org/">community</a>, and it’s, uh, <em>storied </em>
        <a href="http://www.crimetownshow.com/about/">history</a>, think of Providence as Boston and New York’s
        younger—cooler—sibling. Its affordable cost-of-living and manageable pace of life offer a welcome alternative
        to some of its larger neighbors.</p>
    </div>
    <div class="block bldr">
      <h3 class="fade-in an-alpha">Boulder, CO</h3>
      <p class="sub-text fade-in an-beta">Nestled at the foothills of the Rocky Mountains, Boulder offers a city
        surrounded <a href="https://rootsrated.com/stories/the-10-best-hikes-in-boulder">by nature</a>. Spend the day
        outdoors, hiking, skiing, or biking, and be back to the city in time for dinner at one of our best-in-class <a
          href="https://denver.eater.com/maps/boulder-best-restaurants-bars">restaurants</a>.</p>
    </div>
  </div>
  <div class="carousel">
    <div class="items">
      <div class="item fade-in fade-in-x">
        <picture>
          <source data-srcset="img/locations/pvd-1@2x.webp 2x, img/locations/pvd-1.webp 1x" type="image/webp">
          <source data-srcset="img/locations/pvd-1@2x.jpg 2x, img/locations/pvd-1.jpg" type="image/jpeg">
          <img data-src="img/locations/pvd-1.jpg" alt="Young person walks up College Hill in Providence" class="lazyload">
        </picture>
      </div>

      <div class="item fade-in fade-in-x an-alpha">
        <picture>
          <source data-srcset="img/locations/pvd-2@2x.webp 2x, img/locations/pvd-2.webp 1x" type="image/webp">
          <source data-srcset="img/locations/pvd-2@2x.jpg 2x, img/locations/pvd-2.jpg" type="image/jpeg">
          <img data-src="img/locations/pvd-2.jpg" alt="Young person walks up College Hill in Providence" class="lazyload">
        </picture>
      </div>

      <div class="item fade-in fade-in-x an-beta">
        <picture>
          <source data-srcset="img/locations/bldr-5@2x.webp 2x, img/locations/bldr-5.webp 1x" type="image/webp">
          <source data-srcset="img/locations/bldr-5@2x.jpg 2x, img/locations/bldr-5.jpg" type="image/jpeg">
          <img data-src="img/locations/bldr-5.jpg" alt="Young person walks up College Hill in Providence" class="lazyload">
        </picture>
      </div>

      <div class="item fade-in fade-in-x">
        <picture>
          <source data-srcset="img/locations/pvd-4@2x.webp 2x, img/locations/pvd-4.webp 1x" type="image/webp">
          <source data-srcset="img/locations/pvd-4@2x.jpg 2x, img/locations/pvd-4.jpg" type="image/jpeg">
          <img data-src="img/locations/pvd-4.jpg" alt="Young person walks up College Hill in Providence" class="lazyload">
        </picture>
      </div>


      <div class="item fade-in fade-in-x">
        <picture>
          <source data-srcset="img/locations/bldr-1@2x.webp 2x, img/locations/bldr-1.webp 1x" type="image/webp">
          <source data-srcset="img/locations/bldr-1@2x.jpg 2x, img/locations/bldr-1.jpg" type="image/jpeg">
          <img data-src="img/locations/bldr-1.jpg" alt="Young person walks up College Hill in Providence" class="lazyload">
        </picture>
      </div>

      <div class="item fade-in fade-in-x">
        <picture>
          <source data-srcset="img/locations/bldr-4@2x.webp 2x, img/locations/bldr-4.webp 1x" type="image/webp">
          <source data-srcset="img/locations/bldr-4@2x.jpg 2x, img/locations/bldr-4.jpg" type="image/jpeg">
          <img data-src="img/locations/bldr-4.jpg" alt="Young person walks up College Hill in Providence" class="lazyload">
        </picture>
      </div>

      <div class="item fade-in fade-in-x">
        <picture>
          <source data-srcset="img/locations/pvd-3@2x.webp 2x, img/locations/pvd-3.webp 1x" type="image/webp">
          <source data-srcset="img/locations/pvd-3@2x.jpg 2x, img/locations/pvd-3.jpg" type="image/jpeg">
          <img data-src="img/locations/pvd-3.jpg" alt="Young person walks up College Hill in Providence" class="lazyload">
        </picture>
      </div>

      <div class="item fade-in fade-in-x">
        <picture>
          <source data-srcset="img/locations/bldr-3@2x.webp 2x, img/locations/bldr-3.webp 1x" type="image/webp">
          <source data-srcset="img/locations/bldr-3@2x.jpg 2x, img/locations/bldr-3.jpg" type="image/jpeg">
          <img data-src="img/locations/bldr-3.jpg" alt="Young person walks up College Hill in Providence" class="lazyload">
        </picture>
      </div>

      <div class="item fade-in fade-in-x">
        <picture>
          <source data-srcset="img/locations/bldr-2@2x.webp 2x, img/locations/bldr-2.webp 1x" type="image/webp">
          <source data-srcset="img/locations/bldr-2@2x.jpg 2x, img/locations/bldr-2.jpg" type="image/jpeg">
          <img data-src="img/bldr-2.jpg" alt="Young person walks up College Hill in Providence" class="lazyload">
        </picture>
      </div>
    </div>
  </div>
  <div class="progress">
    <div class="progress-bar"></div>
  </div>
</section>
