<section id="locations" class="step g-section-spacer" data-themeset="dark">
  <h2 class="beta fade-in">Our locations</h2>
  <div class="blocks">
    <div class="block pvd">
      <h3 class="fade-in an-alpha" >Providence, RI</h3>
      <p class="sub-text fade-in an-beta">With an award-winning <a href="https://www.eater.com/maps/best-new-restaurants-providence-heatmap">restaurant scene</a>, eclectic arts <a href="https://foofest.as220.org/">community</a>, and its, uh, <em>storied </em> <a href="http://www.crimetownshow.com/about/">history</a>, think of Providence as Boston and New York’s younger—cooler—sibling. Its affordable cost-of-living and manageable pace of life offer a welcome alternative to some of its larger neighbors.</p>
    </div>
    <div class="block bldr">
      <h3 class="fade-in an-alpha">Boulder, CO</h3>
      <p class="sub-text fade-in an-beta">Nestled at the foothills of the Rocky Mountains, Boulder offers a city surrounded <a href="https://rootsrated.com/stories/the-10-best-hikes-in-boulder">by nature</a>. Spend the day outdoors, hiking, skiing, or biking, and be back to the city in time for dinner at one of our best-in-class <a href="https://denver.eater.com/maps/boulder-best-restaurants-bars">restaurants</a>.</p>
    </div>
  </div>
  <div class="carousel">
    <div class="items">
    <div class="item">
      <img src="img/locations/pvd-1.jpg" alt="Young person walks up College Hill in Providence">
    </div>

    <div class="item">
      <img src="img/locations/pvd-2.jpg" alt="An interior shot of the MojoTech offices">
    </div>

     <div class="item">
      <img src="img/locations/bldr-4.jpg" alt="The boulder skyline shows a mountain range in the distance">
    </div>

    <div class="item">
      <img src="img/locations/bldr-1.jpg" alt="an open valley and boulder mountains">
    </div>


    <div class="item">
      <img src="img/locations/bldr-2.jpg" alt="the Boulder Mojotech Team on tobagan to work day">
    </div>

    <div class="item">
      <img src="img/locations/pvd-4.jpg" alt="Chapman pensive in a meeting">
    </div>

    <div class="item">
      <img src="img/locations/pvd-3.jpg" alt="Jesse wows the crowd with knowledge">
    </div>

    <div class="item">
      <img src="img/locations/bldr-3.jpg" alt="Hip coffee in boulder">
    </div>

    </div>
  </div>
  <div class="progress">
    <div class="progress-bar"></div>
  </div>
</section>
