<section id="team" class="step g-section-spacer" data-themeset="dark">
  <div class="triangle fade-in"></div>
  <h3 class="beta fade-in">Hey there.</h3>
  <p class="lead fade-in">We’re a small team. Always have been and always will be. We make up for it by utilizing our unique backgrounds
    and ability to contribute at all stages of a project. We wear mostly black, because classsssic designer fashion.</p>
  <div class="links">
   <a class="fade-in" href="https://www.mojotech.com">Learn more about MojoTech</a>
   <a class="fade-in" href="https://dribbble.com/mojotech">Check out our dribbble</a>
  </div>
</section>
