<section id="work" class="step g-section-spacer" data-themeset="dark">
  <h2 class="fade-in an-alpha">Here's what we're working on</h2>
  <div class="shots">
    <div class="shot fade-in">
      <figure>
        <picture>
          <source srcset="img/helios@2x.webp 2x, img/helios.webp 1x" type="image/webp">
          <source srcset="img/helios@2x.jpg 2x, img/helios.jpg" type="image/jpeg">
          <img src="img/helios.jpg" alt="Helios weather app and office dashboard">
        </picture>
        <figcaption>
          <div class="fade-in an-alpha">
            Helios
          </div>
          <div class="fade-in an-gamma caption">Wall projected internal dashboard</div >
        </figcaption>
      </figure>
    </div>
    <div class="shot fade-in">
      <figure>
        <picture>
          <source srcset="img/guestbook@2x.webp 2x, img/guestbook.webp 1x" type="image/webp">
          <source srcset="img/guestbook@2x.jpg 2x, img/guestbook.jpg" type="image/jpeg">
          <img src="img/helios.jpg" alt="guestbook check in application for the iPad">
        </picture>
        <figcaption>
          <div class="fade-in an-alpha">
            Guestbook
          </div>
          <div class="fade-in an-gamma caption">iPad app for guests to check-in</div >
        </figcaption>
      </figure>
    </div>
    <div class="shot fade-in">
      <figure>
        <picture>
          <source srcset="img/ua@2x.webp 2x, img/ua.webp 1x" type="image/webp">
          <source srcset="img/ua@2x.jpg 2x, img/ua.jpg" type="image/jpeg">
          <img src="img/ua.jpg" alt="Under Armour b2b application">
        </picture>
        <figcaption>
          <div class="fade-in an-alpha">
            Under Armour
          </div>
          <div class="fade-in an-gamma caption">A fully reimagined B2B UX</div >
        </figcaption>
      </figure>
    </div>
  </div>
  <include src="includes/_clients-box.html" />
</section>
