<section id="work" class="step g-section-spacer" data-themeset="dark">
  <h2>Here's what we're working on</h2>
  <div class="shots">
    <div class="shot">
      <figure>
        <img src="https://via.placeholder.com/1400x1400" alt="Helios application presented on a
        tv screen">
        <figcaption>Helios</figcaption>
      </figure>
    </div>
    <div class="shot">
      <figure>
        <img src="img/guestbook.jpg" alt="a hand holds an iPad displaying the Guestbook application">
        <figcaption>Guestbook</figcaption>
      </figure>
    </div>
    <div class="shot">
      <figure>
        <img src="https://via.placeholder.com/1400x1400" alt="A selection of user interface screens
        displaying online shopping">
        <figcaption>Under Armour</figcaption>
      </figure>
    </div>
  </div>
  <include src="includes/_clients-box.html" />
</section>
