.fade-in {
  opacity: 0;
  transform: translateY(20%);
  transition: transform 300ms var(--ease-out), opacity 300ms var(--ease-out);
  &.an-alpha {
    transition-delay: 150ms;
  }
  &.an-beta {
    transition-delay: 250ms;
  }
  &.an-gamma {
    transition-delay: 500ms;
  }
  &.an-delta {
    transition-delay: 750ms;
  }
  &.an-epsilon {
    transition-delay: 850ms;
  }
  &.an-zeta {
    transition-delay: 950ms;
  }
}

.fade-in-x {
  transform: translateX(20%) translateY(0);
}

.fade-in.in-view {
  opacity: 1;
  transform: translateY(0);
}

.fade-in-x.in-view {
  transform: translateX(0);
}
