.carousel {
  display: flex;
  padding-left: var(--space-l);
  height: 240px;
  align-items: center;
  @media (--screen-m) {
    padding-left: var(--space-xxl);
    height: 400px;
  }
  & .item {
    margin-right: var(--space-m);
    flex: 0 0 200px;
    cursor: grab;
    @media (--screen-m) {
      flex: 0 0 420px;
    }
  }
}

.progress {
  background-color: rgba(255, 255, 255, 0.2);
  height: 2px;
  margin-left: auto;
  margin-right: auto;
  margin-top: var(--space-l);
  width: calc(100% - 20vw);
  max-width: var(--content-width);
  @media (--screen-m) {
    margin-top: var(--space-xl);
  }
  & .progress-bar {
    --scale: 0;
    background-color: #fff;
    height: 100%;
    transform-origin: 0 0;
    transform: scaleX(var(--scale));
    width: 100%;
  }
}
