.carousel {
  display: flex;
  padding-left: var(--space-l);
  height: 240px;
  width: 100%;
  @media (--screen-m) {
    padding-left: var(--space-xxl);
    height: 400px;
  }
  & .items {
    display: flex;
    align-items: center;
    width: auto;
  }
  & .item {
    margin-right: var(--space-l);
    flex: 0 0 200px;
    cursor: grab;
    @media (--screen-m) {
      margin-right: var(--space-xl);
      flex: 0 0 300px;
    }
    & img {
      pointer-events: none;
    }
  }
}

.no-carousel {
  display: none;
}

.progress {
  background-color: rgba(255, 255, 255, 0.2);
  height: 2px;
  margin-left: auto;
  margin-right: auto;
  margin-top: var(--space-l);
  @media (--screen-m) {
    margin-top: 100px;
  }
  & .progress-bar {
    --scale: 0;
    background-color: #fff;
    height: 100%;
    transform-origin: 0 0;
    transform: scaleX(var(--scale));
    width: 100%;
  }
}
