.client-box {
  background-color: var(--black-1);
  box-shadow: none;
  color: var(--gray-1);
  text-align: center;
  padding: var(--space-m);
  transition: box-shadow 800ms var(--ease-out), transform 400ms var(--ease-out),
    opacity 800ms var(--ease-out);
  @media (--screen-m) {
    padding: var(--space-xl);
  }
  &.in-view {
    box-shadow: var(--box-shadow-1);
  }
  & .smallcaps {
    margin-bottom: var(--space-l);
    color: var(--gray-1);
  }
  & .logos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    grid-gap: var(--space-m);
    @media (--screen-m) {
      grid-gap: var(--space-s);
      grid-template-rows: repeat(2, var(--space-xl));
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
