@font-face {
  font-family: "Altis Bold";
  src: url("/fonts/Altis-Bold.WOFF") format("woff");
}

@font-face {
  font-family: "GT America Light";
  src: url("/fonts/GT-America-Light.WOFF") format("woff");
}

@font-face {
  font-family: "Altis Medium";
  src: url("/fonts/Altis-Medium.WOFF") format("woff");
}
