:root {
  --mojo-green: #00ba40;
  --black-1: #171c1f;
  --black-2: #1f2629;
  --gray-1: #e9edef;

  --altis: "Altis-Bold", system-ui;
  --gt-america: "GTAmerica-Light", system-ui;

  --ease-in-out: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  --ease-out: cubic-bezier(0.25, 0.46, 0.45, 0.94);

  --space-xs: 16px;
  --space-s: 24px;
  --space-m: 48px;
  --space-l: 64px;
  --space-xl: 96px;
  --space-xxl: 256px;

  --content-width: 75rem;
  --page-width: 100rem;

  --box-shadow-1: 0 10px 80px 0 #060606;

  --z-1: 100;
  --z-2: 200;
  --z-3: 300;

  @custom-media --screen-s (max-width: 699px);
  @custom-media --screen-m (min-width: 700px);
  @custom-media --screen-l (min-width: 1000px);
  @custom-media --screen-xl (min-width: 1600px);
}

*,
*::before,
*::after {
  position: relative;
}

*::selection {
  background-color: var(--mojo-green);
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

[data-theme="dark"] {
  --bg: var(--black-1);
  --fg: var(--gray-1);
}

[data-theme="light"] {
  --bg: var(--gray-1);
  --fg: var(--black-1);
}

body {
  color: var(--fg);
  background-color: var(--bg);
  transition: all 300ms var(--ease-in-out);
}

html,
body {
  overflow-x: hidden;
}

*:focus {
  outline: none;
  box-shadow: 0 0 3px 3px solid var(--mojo-green);
}

a {
  color: inherit;
  text-decoration: none;
  padding-bottom: var(--space-xs);
  box-shadow: 0px 2px 0 rgba(255, 255, 255, 0.2);
}

.button {
  background-color: #fff;
  border: none;
  color: var(--black-2);
  font-family: var(--altis);
  letter-spacing: 0.5px;
  font-size: 12px;
  padding: 10px 32px;
  @media (--screen-m) {
    font-size: 14px;
    padding: var(--space-xs) var(--space-m);
  }
}

.g-content-bound {
  width: 100%;
  max-width: var(--content-width);
  margin-right: auto;
  margin-left: auto;
  padding-left: var(--space-xs);
  padding-right: var(--space-xs);
  @media (--screen-m) {
    padding-left: var(--space-m);
    padding-right: var(--space-m);
  }
}

.g-section-spacer {
  margin-bottom: 150px;
  @media (--screen-m) {
    margin-bottom: 300px;
  }
}

.blocks {
  display: flex;
  flex-direction: column;
  @media (--screen-m) {
    justify-content: space-between;
    flex-direction: row;
  }
  & .block:not(:last-child) {
    @media (--screen-m) {
      margin-right: var(--space-xl);
    }
  }
}
