:root {
  --header-bg: rgba(233, 237, 239, 0.60);
}

[data-theme="dark"] {
  --header-bg: rgba(27, 30, 31, 0.8);
}

header {
  backdrop-filter: saturate(180%) blur(20px);
  display: flex;
  background-color: var(--header-bg);
  align-items: center;
  width: 100%;
  max-width: var(--content-width);
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  padding-top: var(--space-xs);
  padding-bottom: var(--space-xs);
  z-index: var(--z-3);
  @media (--screen-m) {
    backdrop-filter: none;
    background: none;
    padding-top: var(--space-xl);
  }
  &.js-scrolled {
    @media (--screen-m) {
      transform: translate(-50%, -80px);
    }
  }
  & svg {
    height: 32px;
    @media (--screen-m) {
      height: 51px;
    }
  }
  & ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    & li {
      display: flex;
      align-items: center;
    }
  }
}
