#hero {
  display: flex;
  font-family: var(--altis);
  flex-direction: column;
  justify-content: center;
  font-family: var(--altis);
  height: 90vh;
  @media (--screen-m) {
    height: 100vh;
  }
  & .content {
    padding-top: var(--space-xl);
    @media (--screen-m) {
      padding-top: var(--space-xxl);
    }
  }
}

