#work {
  padding-bottom: 300px;
}

.blocks {
  display: flex;
  flex-direction: column;
  @media (--screen-m) {
    justify-content: space-between;
    flex-direction: row;
  }
  & .block:not(:last-child) {
    @media (--screen-m) {
      margin-right: var(--space-xl);
    }
  }
}
