#locations {
  & h2 {
    margin-bottom: var(--space-l);
    @media (--screen-m) {
      margin-bottom: var(--space-xl);
    }
  }
  & .blocks {
    margin-bottom: var(--space-l);
    @media (--screen-m) {
      margin-bottom: var(--space-xl);
    }
  }
}
