.resource-blocks {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    & .resource-block {
        width: 100%;
    }
    @media (--screen-m) {
        justify-content: space-between;
        flex-direction: row;
        & .resource-block {
            width: calc(50% - var(--space-s));
        }
    }
}

.resource-block {
    display: flex;
    flex-direction: row;
    background-color: var(--bg);
    box-shadow: var(--box-shadow-2);
    font-size: 1rem;
    padding: var(--space-s);
    transition: all 300ms var(--ease-in-out);
    margin-bottom: var(--space-s);

    &:hover {
        transform: translateY(-3px);
    }
}

.resource-img {
    margin-right: 40px;
    min-width: 100px;
    max-width: 100px;
}

.resource-desc {
    flex-grow: 1;
}