#team {
  & .lead {
    margin-bottom: var(--space-xl);
  }
  & .links {
    @media (--screen-m) {
      display: flex;
      flex-direction: row;
    }
    & a:not(:last-child) {
      margin-bottom: var(--space-s);
      margin-right: var(--space-l);
      @media (--screen-m) {
        margin-bottom: 0;
      }
    }
  }
  & a {
    color: inherit;
    text-decoration: none;
    padding-bottom: 0.25em;
    box-shadow: 0px 2px 0 rgba(255, 255, 255, 0.2);
  }
  & .triangle {
    animation: rotate 60s linear infinite running;
    background-image: url("../img/triangle.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 720px;
    max-height: 100%;
    left: 50%;
    opacity: 0.3;
    position: absolute;
    width: 900px;
    max-width: 60%;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(1turn);
  }
}
