#team {
  & .lead {
    margin-bottom: var(--space-xl);
  }
  & .links {
    display: flex;
    flex-direction: column;
    @media (--screen-m) {
      flex-direction: row;
    }
    & a:not(:last-child) {
      margin-bottom: var(--space-s);
      @media (--screen-m) {
        margin-bottom: 0;
        margin-right: var(--space-l);
      }
    }
  }
}
