body {
  --fz-min: 20;
  --fz-max: 32;
  font-size: calc(
    (var(--fz-min) * 1px) + (var(--fz-max) - var(--fz-min)) *
      ((100vw - 600px) / (1800 - 600))
  );
  font-family: var(--gt-america);
  line-height: 1.5;
  @media (--screen-xl) {
    font-size: 32px;
  }
}

p + p {
  margin-top: 2em;
}

h1,
h2,
h3,
h4 {
  font-family: var(--altis);
  line-height: 1;
}

h1,
.alpha {
  --fz-min: 80;
  --fz-max: 120;
  font-size: calc(
    (var(--fz-min) * 1px) + (var(--fz-max) - var(--fz-min)) *
      ((100vw - 600px) / (1600 - 600))
  );
}

h2,
.beta {
  --fz-min: 48;
  --fz-max: 76;
  font-size: 80px;
  font-size: calc(
    (var(--fz-min) * 1px) + (var(--fz-max) - var(--fz-min)) *
      ((100vw - 600px) / (1600 - 600))
  );
  margin-bottom: calc(2 / 3 * 1em);
}

h3,
.gamma {
  --fz-min: 24;
  --fz-max: 32;
  font-size: 32px;
  font-size: calc(
    (var(--fz-min) * 1px) + (var(--fz-max) - var(--fz-min)) *
      ((100vw - 600px) / (1600 - 600))
  );
  margin-bottom: calc(2 / 3 * 1em);
}

.caption {
  color: rgba(255, 255, 255, 0.5);
  font-size: inherit;
}

figcaption {
  --fz-min: 16;
  --fz-max: 24;
  font-size: calc(
    (var(--fz-min) * 1px) + (var(--fz-max) - var(--fz-min)) *
      ((100vw - 600px) / (1800 - 600))
  );
  font-family: var(--gt-america);
  line-height: 1.5;
  margin-bottom: 2em;
  @media (--screen-xl) {
    font-size: 24px;
  }
}

.sub-text {
  --fz-min: 16;
  --fz-max: 24;
  font-size: calc(
    (var(--fz-min) * 1px) + (var(--fz-max) - var(--fz-min)) *
      ((100vw - 600px) / (1800 - 600))
  );
  font-family: var(--gt-america);
  line-height: 1.5;
  margin-bottom: 2em;
  @media (--screen-xl) {
    font-size: 24px;
  }
}

.lead {
  max-width: 960px;
}

.smallcaps {
  color: var(--mojo-green);
  font-family: var(--altis-medium);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  margin-bottom: 2em;
}
