#work {
  padding-top: 100px;
  @media (--screen-m) {
    padding-top: 300px;
  }
  & h2 {
    max-width: 15ch;
    margin-bottom: 2em;
    @media (--screen-m) {
      margin-bottom: 3em;
    }
  }
  & .shots {
    display: flex;
    flex-direction: column;
    align-items: center;
    & .shot {
      max-width: 760px;
      margin-bottom: var(--space-xl);
      @media (--screen-m) {
        margin-bottom: 400px;
      }
    }
  }
}
