---
// JS
---

<div class="flex flex-col gap-7">
  <div class="flex items-end justify-between">
    <span class="text-[104px] leading-[104px] tracking-[-3.12px]">We are</span>
    <img src="/images/hero/hero-image-one.svg" />
    <span class="text-[104px] leading-[104px] tracking-[-3.12px]"
      >MojoTech’s</span
    >
    <img
      srcset="/images/hero/hero-image-two.jpg 480w, /images/hero/hero-image-two@2x.jpg 800w"
      sizes="(max-width: 600px) 480px,
         800px"
      src="/images/hero/hero-image-two.jpg"
      class="max-h-[232px]"
    />
  </div>
  <div class="flex items-start gap-6">
    <img
      srcset="/images/hero/hero-image-three.jpg 480w, /images/hero/hero-image-three@2x.jpg 800w"
      sizes="(max-width: 600px) 480px,
         800px"
      src="/images/hero/hero-image-three.jpg"
      class="max-h-[187px]"
    />
    <span class="text-[104px] leading-[104px] tracking-[-3.12px]">design</span>
    <img
      srcset="/images/hero/hero-image-four.jpg 480w, /images/hero/hero-image-four@2x.jpg 800w"
      sizes="(max-width: 600px) 480px,
         800px"
      src="/images/hero/hero-image-four.jpg"
      class="max-h-[233px]"
    />
    <span class="text-[104px] leading-[104px] tracking-[-3.12px]">team.</span>
  </div>
</div>
