---
import Footer from "../components/Footer.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-[var(--color-bg)] text-[var(--color-fg)] mx-auto max-w-[1600px] px-4 transition-colors duration-300">
    <header
      class="mx-auto max-w-[1600px] w-full fixed top-0 left-50% pt-12 z-10"
    >
      <a href="/">
        <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M44.522 4.7998H15.482L0.958008 29.9598L15.476 55.1198L44.522 55.1358L59.042 29.9678L44.522 4.7998Z" fill="#00BA40"/>
          <path d="M42.5996 40.6001H35.5316L35.5296 31.5641L36.8956 29.5361L36.8156 29.4461L30.0736 33.7941L23.3316 29.4421L23.2516 29.5241L24.6176 31.5641V40.6001H17.5996V19.6001H21.8296L30.0736 25.5521L38.3176 19.6001H42.5996V40.6001Z" fill="currentColor"/>
        </svg>
      </a>
    </header>

    <slot />
    <Footer />
    <script>
      document.addEventListener("keydown", (e) => {
        if (e.key === "d" || e.key === "D") {
          const root = document.documentElement;
          const isLight = root.getAttribute("data-theme") === "light";
          root.setAttribute("data-theme", isLight ? "dark" : "light");
        }
      });
    </script>
  </body>
</html>

<style is:global>
  :root {
    --color-bg: #14111D;
    --color-fg: #ffffff;
  }
  :root[data-theme="light"] {
    --color-bg: #ffffff;
    --color-fg: #14111D;
  }

  @font-face {
    font-family: "InterTight";
    src:
      url("/fonts/InterTight-Italic.woff2") format("woff2 supports variations"),
      url("/fonts/InterTight-Italic.woff2") format("woff2-variations");
    font-weight: 100 1000;
    font-style: italic;
    font-display: swap;
  }
  @font-face {
    font-family: "InterTight";
    src:
      url("/fonts/InterTight.woff2") format("woff2 supports variations"),
      url("/fonts/InterTight.woff2") format("woff2-variations");
    font-weight: 100 1000;
    font-style: normal;
    font-display: swap;
  }
</style>
