---
import Footer from "../components/Footer.astro"
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-bgDark text-textLight mx-auto max-w-[1600px] px-4">
    <header class="mx-auto max-w-[1600px] w-full fixed top-0 left-50% pt-12">
      <img src="/images/MojoTech.svg" />
    </header>

    <slot />
    <Footer />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "InterTight";
    src:
      url("/fonts/InterTight-Italic.woff2") format("woff2 supports variations"),
      url("/fonts/InterTight-Italic.woff2") format("woff2-variations");
    font-weight: 100 1000;
    font-style: italic;
    font-display: swap;
  }
  @font-face {
    font-family: "InterTight";
    src:
      url("/fonts/InterTight.woff2") format("woff2 supports variations"),
      url("/fonts/InterTight.woff2") format("woff2-variations");
    font-weight: 100 1000;
    font-style: normal;
    font-display: swap;
  }
</style>
