<div class="w-full aspect-[53/32] bg-angiBlue flex justify-center">
  <img class="max-w-[8rem]" src="/images/work/Angi.svg" />
</div>
<p>Angi</p>
<p>Enterprise integrations, app upgrades, user experience, visual design</p>
