<div class="w-full aspect-[25/35] bg-ckPurple flex justify-center">
  <img class="max-w-[12rem]" src="/images/work/CreditKarma.svg" />
</div>
<p>Credit Karma</p>
<p>UI/UX internationalization & integrations</p>
