<div class="w-full aspect-video bg-mkOrange flex justify-center">
  <img class="max-w-[15rem]" src="/images/work/MillerKnoll.svg" />
</div>
<p>Miller Knoll</p>
<p>Product discovery, UI/UX modernization, accelerated onboarding</p>