<div class="w-full aspect-[25/33] bg-[#CFD9ED] flex justify-center">
  <img class="max-w-[11rem]" src="/images/work/MoneyLion.svg" />
</div>
<p>MoneyLion</p>
<p>Mobile app design, cloud-native architectures</p>
