<div
  data-ml
  class="w-full aspect-[25/33] bg-[#CFD9ED] flex justify-center relative"
>
  <img class="max-w-[11rem]" src="/images/work/MoneyLion.svg" />
  <img
    data-ml-hover
    class="absolute top-0 left-0 opacity-0 w-full h-full object-cover"
    srcset="/images/work/hover/moneylion@1x.webp 480w, /images/work/hover/moneylion@2x.webp 800w"
    sizes="(max-width: 600px) 480px,
         800px"
    src="/images/work/hover/moneylion@2x.webp"
  />
</div>
<p>MoneyLion</p>
<p>Mobile app design, cloud-native architectures</p>

<script>
  import handleWorkAnimation from "../../lib/workAnimation.ts";
  handleWorkAnimation("[data-ml]", "[data-ml-hover]");
</script>
